
body {
  background-color: #E3E3E3; 
  margin: 20px 0 0 0;
  text-align: center;
}

canvas {
  margin: auto;
  border-radius: 10px;
}

.jumbotron {
  padding: 10px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #8F8F8F;
}